# --- System files ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
venv/
.env/
.env

# --- Logs ---
*.log

# --- Build / dist ---
build/
dist/
*.egg-info/

# --- IDE ---
.vscode/
.idea/

# --- Git ---
*.swp
*.swo